<!DOCTYPE html>
<html data-modules="{% block modules %}{% endblock %}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Comptes{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                'bundles/comptes/css/lib/bootstrap.min.css'
                'bundles/comptes/css/lib/select2.min.css'
                'bundles/comptes/css/lib/jquery.tag-editor.css'
                'bundles/comptes/css/comptes.css'
                filter='cssrewrite' %}<link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        {% block javascripts %}
            {% javascripts
                'bundles/comptes/js/lib/jquery-1.11.1.min.js'
                'bundles/comptes/js/lib/bootstrap.min.js'
                'bundles/comptes/js/lib/highcharts.min.js'
                'bundles/comptes/js/lib/select2.min.js'
                'bundles/comptes/js/lib/jquery.caret.min.js'
                'bundles/comptes/js/lib/jquery.tag-editor.min.js'
                'bundles/comptes/js/comptes.main.js'
                'bundles/comptes/js/comptes.forms.js'
                'bundles/comptes/js/comptes.highcharts.js'
                %}<script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="container-fluid">
                <div class="row">
                    <div class="sidebar col-md-2">
                        {% block sidebar %}
                            <ul class="nav nav-sidebar">
                                <li{% if app.request.get('_route') == 'dashboard' %} class="active"{% endif %}>
                                    <a href="{{ path('dashboard') }}">
                                        <span class="glyphicon glyphicon-dashboard"></span> Dashboard
                                    </a>
                                </li>
                                <li{% if app.request.get('_route') == 'comptes_comptes' %} class="active"{% endif %}>
                                    <a href="{{ path('comptes_comptes') }}">
                                        <span class="glyphicon glyphicon-euro"></span> Comptes
                                    </a>
                                </li>
                                <li{% if app.request.get('_route') == 'categories_categories' %} class="active"{% endif %}>
                                    <a href="{{ path('categories_categories') }}">
                                        <span class="glyphicon glyphicon-list-alt"></span> Catégories
                                    </a>
                                </li>
                                <li{% if app.request.get('_route') == 'pleins_pleins' %} class="active"{% endif %}>
                                    <a href="{{ path('pleins_pleins') }}">
                                        <span class="glyphicon glyphicon-tint"></span> Pleins
                                    </a>
                                </li>
                                <li{% if app.request.get('_route') == 'vehicules_vehicules' %} class="active"{% endif %}>
                                    <a href="{{ path('vehicules_vehicules') }}">
                                        <span class="glyphicon glyphicon-plane"></span> Véhicules
                                    </a>
                                </li>
                                <li{% if app.request.get('_route') == 'import_mouvements' %} class="active"{% endif %}>
                                    <a href="{{ path('import_mouvements') }}">
                                        <span class="glyphicon glyphicon-import"></span> Import mouvements
                                    </a>
                                </li>
                                <li{% if app.request.get('_route') == 'import_pleins' %} class="active"{% endif %}>
                                    <a href="{{ path('import_pleins') }}">
                                        <span class="glyphicon glyphicon-import"></span> Import pleins
                                    </a>
                                </li>
                            </ul>
                        {% endblock %}
                    </div>
                    <div class="content col-md-10 col-md-offset-2">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}
    </body>
</html>