{% extends 'ComptesCoreBundle::layout.html.twig' %}

{% block title %} - Comptes{% endblock %}

{% block content %}
    <h1>Comptes</h1>
    {% if comptes is not empty %}
        {% for compte in comptes %}
            {% if loop.index == 1 %}<div class="row">{% endif %}
                <div class="widget col-md-3">
                    <a href="{{ path('comptes_compte', {'compte_id': compte.id}) }}">
                        <div class="widget-content">
                            <div class="widget-icon pull-left">
                                <span class="glyphicon glyphicon-euro"></span>
                            </div>
                            <h3>
                                {{ compte.solde >= 0 ? "+" : "-" }} <strong>{{ compte.solde|abs|number_format(2, ".", "") ~ "€" }}</strong>
                                <small>{{ compte }}</small>
                            </h3>
                        </div>
                    </a>
                </div>
            {% if loop.index % 4 == 0 %}</div>{% endif %}
        {% endfor %}
        <div class="row">
            <div id="chart-1" class="chart col-md-12"></div>
            <script type="text/javascript">
                $(function(){
                    $('#chart-1').highcharts({
                        chart: {
                            type: 'bar'
                        },
                        title: {
                            text: "Situation financière"
                        },
                        xAxis: {
                            categories: [
                                {% for compte in comptes %}
                                    "{{ compte|e('js') }}"
                                    {{ loop.revindex > 1 ? ","|e('js') }}
                                {% endfor %}
                            ],
                            title: {
                                text: "Comptes"
                            }
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: "Solde (€)",
                                align: 'high'
                            }
                        },
                        tooltip: {
                            valueSuffix: "€"
                        },
                        legend: {
                            enabled: false
                        },
                        credits: {
                            enabled: false
                        },
                        series: [{
                            name: "Solde",
                            data: [
                                {% for compte in comptes %}
                                    {{ compte.solde|e('js') }}
                                    {{ loop.revindex > 1 ? ","|e('js') }}
                                {% endfor %}
                            ]
                        }]
                    });
                });
            </script>
        </div>
        <div class="row">
            <div id="chart-2" class="chart col-md-12"></div>
            <script>
                $(function(){
                    $('#chart-2').highcharts({
                        title: {
                            text: "Solde cumulé",
                            x: -20 // centrage
                        },
                        xAxis: {
                            type: 'datetime'
                        },
                        yAxis: {
                            title: {
                                text: "Solde cumulé"
                            }
                        },
                        tooltip: {
                            valueSuffix: "€"
                        },
                        legend: {
                            enabled: false
                        },
                        credits: {
                            enabled: false
                        },
                        series: [{
                            name: "Solde cumulé",
                            data: [
                                {% set solde_total = 0 %}
                                {% for key, mouvement in mouvements %}
                                    {% set solde_total = solde_total + mouvement.montant %}
                                    {% if (mouvements[key+1] is not defined) or (mouvements[key+1] is defined and mouvements[key+1].date != mouvement.date) %}
                                        [
                                            Date.UTC({{ mouvement.date|date('Y')|e('js') }}, {{ (mouvement.date|date('m')-1)|e('js') }}, {{ mouvement.date|date('d')|e('js') }}),
                                            {{ solde_total|e('js') }}
                                        ]{{ loop.revindex > 1 ? ","|e('js') }}
                                    {% endif %}
                                {% endfor %}
                            ]
                        }]
                    });
                });
            </script>
        </div>
    {% endif %}
{% endblock %}
