{% extends 'ComptesBundle::layout.html.twig' %}

{% block modules 'highcharts' %}

{% block title %} - Catégories{% endblock %}

{% import _self as macros %}

{% macro categoriesFilles(categorie, montants, depth) %}
    <tr>
        <td>
            {{ categorie.id }}
        </td>
        <td style="padding-left: {{ (5 + depth * 20) ~ "px" }};">
            <a href="{{ path('categories_categorie', {'categorie_id': categorie.id}) }}">{{ categorie }}</a>
        </td>
        <td>
            {{ montants[categorie.id] ~ "€" }}
        </td>
    </tr>
    {% if categorie.categoriesFilles is not empty %}
        {% set depth = depth + 1 %}
        {% for categorieFille in categorie.categoriesFilles %}
            {{ _self.categoriesFilles(categorieFille, montants, depth) }}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% block content %}
    <h1>Catégories</h1>
    <div class="row">
        <div class="col-md-6">
            <form action="{{ path('categories_categories') }}" method="GET">
                <div class="input-group">
                    <span class="input-group-addon">Du</span>
                    <input class="form-control" type="text" name="date_filter[start]" value="{{ date_filter.start|date('d-m-Y') }}" placeholder="{{ date_filter.start|date('d-m-Y') }}">
                    <span class="input-group-addon middle">au</span>
                    <input class="form-control" type="text" name="date_filter[end]" value="{{ date_filter.end|date('d-m-Y') }}" placeholder="{{ date_filter.end|date('d-m-Y') }}">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-time"></span> Appliquer
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    {% if categories is not empty %}
        <div class="row">
            <div id="chart" class="chart col-md-12"></div>
            <script type="text/javascript">
                $(function(){
                    $('#chart').highcharts({
                        title: {
                            text: "Répartition des dépenses par catégorie"
                        },
                        tooltip: {
                            pointFormat: "{point.y:.0f}€"
                        },
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    format: "<strong>{point.name}</strong>: {point.percentage:.1f}%",
                                }
                            }
                        },
                        credits: {
                            enabled: false
                        },
                        series: [{
                            type: 'pie',
                            name: "Répartition des dépenses",
                            data: [
                                ["Non catégorisé", {{ montant_total_non_categorise|abs|e('js') }}],
                                {% for categorie in categories %}
                                    {% if not categorie.categorieParente and montants[categorie.id] < 0 %}
                                        ["{{ categorie|e('js') }}", {{ montants[categorie.id]|abs|e('js') }}],
                                    {% endif %}
                                {% endfor %}
                            ]
                        }]
                    });
                });
            </script>
        </div>
        <table class="table table-condensed table-striped table-hover">
            <caption>Liste des catégories</caption>
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Catégorie</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>
                        Non catégorisé
                    </td>
                    <td>
                        {{ montant_total_non_categorise ~ "€" }}
                    </td>
                </tr>
                {% for categorie in categories %}
                    {% if not categorie.categorieParente %}
                        {{ macros.categoriesFilles(categorie, montants, 0) }}
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}