{% extends 'ComptesBundle::layout.html.twig' %}

{% block modules 'forms' %}

{% block title %} - {{ categorie }}{% endblock %}

{% block content %}
    <h1>{{ categorie }}</h1>
    <table class="table table-condensed table-striped table-hover">
        <caption>Liste des mouvements</caption>
        <thead>
            <tr>
                <th class="col-md-2">Date</th>
                <th class="col-md-2">Montant</th>
                <th class="col-md-6">Description</th>
                <th class="col-md-2">Compte</th>
            </tr>
        </thead>
        <tbody>
            {% for mouvement in mouvements %}
                <tr>
                    <td>{{ mouvement.date|date('d-m-Y') }}</td>
                    <td>{{ mouvement.montant ~ "€" }}</td>
                    <td>{{ mouvement.description }}</td>
                    <td>
                        <a href="{{ path('comptes_compte', {'compte_id': mouvement.compte.id}) }}">
                            {{ mouvement.compte }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Total</th>
                <td colspan="3">{{ total ~ "€" }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}