{% extends 'ComptesBundle::layout.html.twig' %}

{% block modules 'forms;highcharts' %}

{% block title %} - {{ categorie }}{% endblock %}

{% block content %}
    <h1>{{ categorie }}</h1>
    <div class="row">
            <div id="chart" class="chart col-md-12"></div>
            <script>
                $(function(){
                    $('#chart').highcharts({
                        title: {
                            text: "Évolution mensuelle",
                            x: -20 // centrage
                        },
                        xAxis: {
                            type: 'datetime'
                        },
                        yAxis: {
                            min: 0,
                            title: {
                                text: "Total mensuel (€)"
                            }
                        },
                        tooltip: {
                            valueSuffix: "€"
                        },
                        legend: {
                            enabled: false
                        },
                        credits: {
                            enabled: false
                        },
                        series: [
                            {
                                name: "{{ categorie|e('js') }}",
                                data: [
                                    {% for key, montant in monthly_montants %}
                                        {% set array = key|split('-') %}
                                        {% set year = array.0 %}
                                        {% set month = array.1 %}
                                        [
                                            Date.UTC({{ year|e('js') }}, {{ month|e('js') }}, 1),
                                            {{ montant|abs|e('js') }}
                                        ]{{ loop.revindex > 1 ? ","|e('js') }}
                                    {% endfor %}
                                ]
                            }
                        ]
                    });
                });
            </script>
        </div>
    <table class="table table-condensed table-striped table-hover">
        <caption>Liste des mouvements</caption>
        <thead>
            <tr>
                <th class="col-md-2">Date</th>
                <th class="col-md-2">Montant</th>
                <th class="col-md-6">Description</th>
                <th class="col-md-2">Compte</th>
            </tr>
        </thead>
        <tbody>
            {% for mouvement in mouvements %}
                <tr>
                    <td>{{ mouvement.date|date('d-m-Y') }}</td>
                    <td>{{ mouvement.montant ~ "€" }}</td>
                    <td>{{ mouvement.description }}</td>
                    <td>
                        <a href="{{ path('comptes_compte', {'compte_id': mouvement.compte.id}) }}">
                            {{ mouvement.compte }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Total</th>
                <td colspan="3">{{ total ~ "€" }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}