{% extends 'layout.html.twig' %}

{% block modules 'highcharts' %}

{% block title %} - Comptes{% endblock %}

{% block content %}
    <h1>Comptes</h1>
    <div class="row" style="position: relative;">
        {% if a_des_comptes_fermes %}
            <a href="{{ path('comptes_comptes', {'avec_fermes': not avec_fermes }) }}" class="btn btn-default" style="position: absolute; top: 5px; right: 20px; z-index: 1;">
                <span class="glyphicon {{ avec_fermes ? 'glyphicon-eye-close' : 'glyphicon-eye-open' }}"></span>
                {{ avec_fermes ? 'Masquer les comptes fermés' : 'Afficher les comptes fermés' }}
            </a>
        {% endif %}
        <div id="chart-1" class="chart col-md-12"></div>
        <script>
            $(function(){
                $('#chart-1').highcharts({
                    chart: {
                        type: 'bar',
                        marginRight: 100 // empirique mais suffisant pour afficher le montant des histogrammes positifs, ainsi que la légende
                    },
                    title: {
                        text: "Solde par compte"
                    },
                    xAxis: {
                        categories: [
                            {% for compte in comptes %}
                                `<a href="{{ path('comptes_compte', {'compteId': compte.id})|e('js') }}">{{ compte|e('js') }}</a>`,
                            {% endfor %}
                        ],
                        labels: {
                            useHTML: true
                        }
                    },
                    yAxis: {
                        title: {
                            text: "Solde (€)",
                            align: 'high'
                        }
                    },
                    plotOptions: {
                        bar: {
                            cursor: 'pointer',
                            point: {
                                events: {
                                    click: function() {
                                        window.location.href = this.url;
                                    }
                                }
                            },
                            dataLabels: {
                                enabled: true,
                                crop: false,
                                overflow: "allow",
                                style: {
                                    fontSize: "20px",
                                    textShadow: "none",
                                    textOutline: "none",
                                    color: "#510477"
                                },
                                formatter: function() {
                                    return new Intl.NumberFormat('fr-FR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(this.y) + ' €';
                                }
                            }
                        }
                    },
                    tooltip: {
                        enabled: false
                    },
                    series: [{
                        name: "Solde",
                        data: [
                            {% for compte in comptes %}
                                {
                                    y: {{ compte.solde|e('js') }},
                                    url: "{{ path('comptes_compte', {'compteId': compte.id})|e('js') }}"
                                },
                            {% endfor %}
                        ],
                    }]
                });
            });
        </script>
    </div>
    <div class="row">
        <div id="chart-2" class="chart col-md-12"></div>
        <script>
            $(function(){
                $('#chart-2').highcharts({
                    chart: {
                        type: 'bar',
                        // marges empiriques mais suffisantes pour afficher...
                        marginLeft: 100, // ... le montant des histogrammes négatifs
                        marginRight: 100 // ... le montant des histogrammes positifs, ainsi que la légende
                    },
                    title: {
                        text: "Balance des derniers mois"
                    },
                    subtitle: {
                        text: "Moyenne mensuelle : {{ balance_moyenne_des_derniers_mois|number_format(2, ",", " ") ~ " €" }}{% if balance_moyenne_des_mois_positifs is not null %} ({{ balance_moyenne_des_mois_positifs|number_format(2, ",", " ") ~ " €" }} pour les mois positifs){% endif %}"
                    },
                    xAxis: {
                        categories: [
                            {% for mois, balance in balance_des_derniers_mois %}
                                "{{ mois|e('js') }}",
                            {% endfor %}
                        ],
                        labels: {
                            step: 1,
                        },
                    },
                    yAxis: {
                        title: {
                            text: "Balance (€)",
                            align: 'high'
                        }
                    },
                    plotOptions: {
                        bar: {
                            dataLabels: {
                                enabled: true,
                                crop: false,
                                overflow: "allow",
                                style: {
                                    fontSize: "20px",
                                    textShadow: "none",
                                    textOutline: "none",
                                    color: "#510477"
                                },
                                formatter: function() {
                                    return new Intl.NumberFormat('fr-FR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(this.y) + ' €';
                                }
                            }
                        }
                    },
                    tooltip: {
                        enabled: false
                    },
                    series: [{
                        name: "Balance",
                        data: [
                            {% for mois, balance in balance_des_derniers_mois %}
                                {
                                    y: {{ balance|e('js') }}
                                },
                            {% endfor %}
                        ],
                    }]
                });
            });
        </script>
    </div>
    <div class="row">
        <div id="chart-3" class="chart col-md-12"></div>
        <script>
            $(function(){
                $('#chart-3').highcharts({
                    chart: {
                        zoomType: 'x',
                        events: {
                            load: function () {
                                const data = this.series[0].data,
                                    oneYearAgo = new Date().setFullYear(new Date().getFullYear() - 1),
                                    firstDate = data[0].x,
                                    lastDate = data[data.length - 1].x;

                                if (firstDate < oneYearAgo) {
                                    this.xAxis[0].setExtremes(oneYearAgo, lastDate);
                                    this.showResetZoom();
                                }
                            }
                        }
                    },
                    title: {
                        text: "Solde cumulé"
                    },
                    xAxis: {
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: "Solde cumulé (€)"
                        }
                    },
                    tooltip: {
                        crosshairs: true,
                        formatter: function () {
                            const date = Highcharts.dateFormat('%d-%m-%Y', this.x),
                                montant = new Intl.NumberFormat('fr-FR', { minimumFractionDigits: 2, maximumFractionDigits: 2 }).format(this.y);

                            return `<strong>${date}</strong> : ${montant} €`;
                        }
                    },
                    series: [{
                        name: "Solde cumulé",
                        data: [
                            {% set solde_total = 0 %}
                            {% for key, mouvement in mouvements %}
                                {% set solde_total = solde_total + mouvement.montant %}
                                {% if (first_mouvement.date <= mouvement.date and mouvement.date <= last_mouvement.date) and ((mouvements[key+1] is not defined) or (mouvements[key+1] is defined and mouvements[key+1].date != mouvement.date)) %}
                                    [
                                        Date.UTC({{ mouvement.date|date('Y')|e('js') }}, {{ (mouvement.date|date('m')-1)|e('js') }}, {{ mouvement.date|date('d')|e('js') }}),
                                        {{ solde_total|e('js') }}
                                    ],
                                {% endif %}
                            {% endfor %}
                        ]
                    }]
                });
            });
        </script>
    </div>
{% endblock %}
