{% extends 'ComptesBundle::layout.html.twig' %}

{% block modules 'forms' %}

{% block title %} - Import des mouvements{% endblock %}

{% import _self as macros %}

{% macro categoriesFilles(categorie, mouvement, depth) %}

    {% set optgroup = not categorie.categorieParente %}
    {% if optgroup %}<optgroup label="{{ categorie }}">{% endif %}

        <option value="{{ categorie.id }}" style="padding-left: {{ (depth * 20) ~ "px" }};" {{ mouvement.categorie is not null and mouvement.categorie.id == categorie.id ? "selected" }}>{{ categorie }}</option>
        {% if categorie.categoriesFilles is not empty %}
            {% set depth = depth + 1 %}
            {% for categorieFille in categorie.categoriesFilles %}
                {{ _self.categoriesFilles(categorieFille, mouvement, depth) }}
            {% endfor %}
        {% endif %}

    {% if optgroup %}</optgroup>{% endif %}

{% endmacro %}

{% macro mouvements(type, mouvements, comptes, categories) %}

    {% import _self as macros %}

    <table class="table table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th class="col-md-1">
                    Importer
                    <small>
                        <span class="glyphicon glyphicon-check trigger" data-trigger="check-all" data-target-name="mouvements_hash_to_import[]" title="Cocher tout"></span>
                        <span class="glyphicon glyphicon-unchecked trigger" data-trigger="uncheck-all" data-target-name="mouvements_hash_to_import[]" title="Décocher tout"></span>
                    </small>
                </th>
                <th class="col-md-2">Compte</th>
                <th class="col-md-1">Date</th>
                <th class="col-md-1">Montant</th>
                <th class="col-md-4">Description</th>
                <th class="col-md-3">Catégorie</th>
            </tr>
        </thead>
        <tbody>
            {% for mouvement in mouvements %}
                <tr>
                    <td>
                        <label for="mouvement-{{ mouvement.hash }}" class="sr-only">Importer</label>
                        <input id="mouvement-{{ mouvement.hash }}" type="checkbox" name="mouvements_hash_to_import[]" value="{{ mouvement.hash }}" {{ type != 'waiting' ? "checked" }}>
                    </td>
                    <td>
                        <label for="compte-{{ mouvement.hash }}" class="sr-only">Compte</label>
                        <select id="compte-{{ mouvement.hash }}" name="mouvements[{{ mouvement.hash }}][compte]">
                            <option value="">&nbsp;</option>
                            {% for compte in comptes %}
                                <option value="{{ compte.id }}" {{ mouvement.compte.id == compte.id ? "selected" }}>{{ compte }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="input-text">
                        <label for="date-{{ mouvement.hash }}" class="sr-only">Date</label>
                        <input id="date-{{ mouvement.hash }}" type="text" name="mouvements[{{ mouvement.hash }}][date]" value="{{ mouvement.date|date('d-m-Y') }}" placeholder="{{ date()|date('d-m-Y') }}">
                    </td>
                    <td class="input-text">
                        <label for="montant-{{ mouvement.hash }}" class="sr-only">Montant</label>
                        <input id="montant-{{ mouvement.hash }}" type="text" name="mouvements[{{ mouvement.hash }}][montant]" value="{{ mouvement.montant|number_format(2, ".", "") }}" placeholder="0.00">
                    </td>
                    <td class="input-text">
                        <label for="description-{{ mouvement.hash }}" class="sr-only">Description</label>
                        <input id="description-{{ mouvement.hash }}" type="text" name="mouvements[{{ mouvement.hash }}][description]" value="{{ mouvement.description }}" placeholder="Description">
                    </td>
                    <td class="input-select2">
                        <label for="categorie-{{ mouvement.hash }}" class="sr-only">Catégorie</label>
                        <select id="categorie-{{ mouvement.hash }}" name="mouvements[{{ mouvement.hash }}][categorie]">
                            <option value="">&nbsp;</option>
                            {% for categorie in categories %}
                                {% if not categorie.categorieParente %}
                                    {{ macros.categoriesFilles(categorie, mouvement, 0) }}
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% block content %}
    <h1>Import des mouvements</h1>
    <form action="{{ path('import_mouvements') }}" method="POST" enctype="multipart/form-data">

        <div class="form-group">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Handler</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for handlerIdentifier, handler in handlers %}
                        <tr>
                            <td>
                                <input id="handler-identifier-{{ handlerIdentifier }}" type="radio" name="handlerIdentifier" value="{{ handlerIdentifier }}">
                                <label for="handler-identifier-{{ handlerIdentifier }}">{{ handler.name }}</label>
                            </td>
                            <td>
                                {{ handler.description|raw|nl2br }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <label for="file">Fichier</label>
            <input id="file" type="file" name="file">
        </div>
        <div class="form-group">
            <label for="skip-old-ones">Ignorer les mouvements anciens</label>
            <input id="skip-old-ones" type="checkbox" name="skipOldOnes" checked="checked">
            <p class="help-block">
                <span class="glyphicon glyphicon-info-sign"></span>
                Décoche cette case si tu veux importer des mouvements antérieurs au dernier mouvement inséré.
            </p>
        </div>
        <div class="form-group">
            <button class="btn btn-default" type="submit" name="action" value="parse">Analyser le fichier</button>
        </div>

        {% if categorized_mouvements is not empty or
              uncategorized_mouvements is not empty or
              ambiguous_mouvements is not empty or
              waiting_mouvements is not empty %}

            {% if categorized_mouvements is not empty %}
                <h2>Mouvements catégorisés</h2>
                <p>Ils sont prêts à être importés. Tu me fais confiance, non ?</p>
                {{ macros.mouvements('categorized', categorized_mouvements, comptes, categories) }}
            {% endif %}

            {% if uncategorized_mouvements is not empty %}
                <h2>Mouvements non catégorisés</h2>
                <p>Je n'ai aucune règle qui m'indique dans quelles catégories les ranger. Débrouille-toi !</p>
                {{ macros.mouvements('uncategorized', uncategorized_mouvements, comptes, categories) }}
            {% endif %}

            {% if ambiguous_mouvements is not empty %}
                <h2>Mouvements ambigus</h2>
                <p>J'avais un doute sur leurs catégories. Tu peux m'aider ?</p>
                {{ macros.mouvements('ambiguous', ambiguous_mouvements, comptes, categories) }}
            {% endif %}

            {% if waiting_mouvements is not empty %}
                <h2>Mouvements à confirmer</h2>
                <p>Des mouvements similaires existent déjà. Tu veux les réimporter ?</p>
                {{ macros.mouvements('waiting', waiting_mouvements, comptes, categories) }}
            {% endif %}

            <button class="btn btn-default" type="submit" name="action" value="import">Importer</button>

        {% endif %}

    </form>
{% endblock %}