{% extends 'ComptesBundle::layout.html.twig' %}

{% block modules 'forms' %}

{% block title %} - Import des pleins{% endblock %}

{% import _self as macros %}

{% macro pleins(type, pleins, vehicules) %}

    <table class="table table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th>
                    Importer
                    <small>
                        <span class="glyphicon glyphicon-check trigger" data-trigger="check-all" data-target-name="pleins_hash_to_import[]" title="Cocher tout"></span>
                        <span class="glyphicon glyphicon-unchecked trigger" data-trigger="uncheck-all" data-target-name="pleins_hash_to_import[]" title="Décocher tout"></span>
                    </small>
                </th>
                <th>Date</th>
                <th>Quantité <small>(en L)</small></th>
                <th>Prix au litre <small>(en €)</small></th>
                <th>Montant <small>(en €)</small></th>
                <th>Véhicule</th>
                <th>Distance parcourue <small>(en km)</small></th>
            </tr>
        </thead>
        <tbody>
            {% for plein in pleins %}
                <tr>
                    <td>
                        <label for="plein-{{ plein.hash }}" class="sr-only">Importer</label>
                        <input id="plein-{{ plein.hash }}" type="checkbox" name="pleins_hash_to_import[]" value="{{ plein.hash }}" {{ type != 'waiting' ? "checked" }}>
                    </td>
                    <td class="input-text">
                        <label for="date-{{ plein.hash }}" class="sr-only">Date</label>
                        <input id="date-{{ plein.hash }}" type="text" name="pleins[{{ plein.hash }}][date]" value="{{ plein.date|date('d-m-Y') }}" placeholder="{{ date()|date('d-m-Y') }}">
                    </td>
                    <td class="input-text">
                        <label for="quantite-{{ plein.hash }}" class="sr-only">Quantité <small>(en L)</small></label>
                        <input id="quantite-{{ plein.hash }}" type="text" name="pleins[{{ plein.hash }}][quantite]" value="{{ plein.quantite|number_format(2, ".", "") }}" placeholder="0.00">
                    </td>
                    <td class="input-text">
                        <label for="prixLitre-{{ plein.hash }}" class="sr-only">Prix au litre <small>(en €)</small></label>
                        <input id="prixLitre-{{ plein.hash }}" type="text" name="pleins[{{ plein.hash }}][prixLitre]" value="{{ plein.prixLitre|number_format(3, ".", "") }}" placeholder="0.000">
                    </td>
                    <td>
                        {{ plein.montant|number_format(2, ".", "") ~ "€" }}
                    </td>
                    <td>
                        <label for="vehicule-{{ plein.hash }}" class="sr-only">Véhicule</label>
                        <select id="vehicule-{{ plein.hash }}" name="pleins[{{ plein.hash }}][vehicule]">
                            {% for vehicule in vehicules %}
                                <option value="{{ vehicule.id }}" {{ plein.vehicule.id == vehicule.id ? "selected" }}>{{ vehicule }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="input-text">
                        <label for="distanceParcourue-{{ plein.hash }}" class="sr-only">Distance parcourue <small>(en km)</small></label>
                        <input id="distanceParcourue-{{ plein.hash }}" type="text" name="pleins[{{ plein.hash }}][distanceParcourue]" value="{{ plein.distanceParcourue|number_format(2, ".", "") }}" placeholder="0.00">
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% block content %}
    <h1>Import des pleins</h1>
    <form action="{{ path('import_pleins') }}" method="POST" enctype="multipart/form-data">

        <div class="form-group">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Handler</th>
                        <th>Type de fichier</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for handlerIdentifier, handler in handlers %}
                        <tr>
                            <td>
                                <input id="handler-identifier-{{ handlerIdentifier }}" type="radio" name="handlerIdentifier" value="{{ handlerIdentifier }}">
                                <label for="handler-identifier-{{ handlerIdentifier }}">{{ handler.name }}</label>
                            </td>
                            <td>
                                <code>{{ handler.extension }}</code>
                            </td>
                            <td>
                                {{ handler.description|raw|nl2br }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <label for="file">Fichier</label>
            <input id="file" type="file" name="file">
        </div>
        <div class="form-group">
            <label for="skip-old-ones">Ignorer les pleins anciens</label>
            <input id="skip-old-ones" type="checkbox" name="skipOldOnes" checked="checked">
            <p class="help-block">
                <span class="glyphicon glyphicon-info-sign"></span>
                Décoche cette case si tu veux importer des pleins antérieurs au dernier plein inséré.
            </p>
        </div>
        <div class="form-group">
            <button class="btn btn-default" type="submit" name="action" value="parse">Analyser le fichier</button>
        </div>

        {% if valid_pleins is not empty or
              waiting_pleins is not empty %}

            {% if valid_pleins is not empty %}
                <h2>Pleins valides</h2>
                <p>Ils sont prêts à être importés.</p>
                {{ macros.pleins('valid', valid_pleins, vehicules) }}
            {% endif %}

            {% if waiting_pleins is not empty %}
                <h2>Pleins à confirmer</h2>
                <p>Des pleins similaires existent déjà. Tu veux les réimporter ?</p>
                {{ macros.pleins('waiting', waiting_pleins, vehicules) }}
            {% endif %}

            <button class="btn btn-default" type="submit" name="action" value="import">Importer</button>

        {% endif %}

    </form>
{% endblock %}
