{% extends 'ComptesBundle::layout.html.twig' %}

{% block modules 'highcharts' %}

{% block title %} - Dashboard{% endblock %}

{% block content %}
    <h1>Dashboard</h1>
    <div class="row">
        <h2 class="sr-only">Indicateurs</h2>
        <div class="widget col-md-4">
            <div class="widget-content">
                <div class="widget-icon pull-left">
                    <span class="glyphicon {{ monthly_balance_over_last_month > 0 ? 'glyphicon-thumbs-up' : 'glyphicon-thumbs-down' }}"></span>
                </div>
                <h3>
                    {{ monthly_balance_over_last_month >= 0 ? "+" : "-" }} <strong>{{ monthly_balance_over_last_month|abs|number_format(2, ".", "") ~ "€" }}</strong>
                    <small>le mois dernier</small>
                </h3>
            </div>
        </div>
        <div class="widget col-md-4">
            <div class="widget-content">
                <div class="widget-icon pull-left">
                    <span class="glyphicon {{ monthly_balance_over_last_quarter > 0 ? 'glyphicon-thumbs-up' : 'glyphicon-thumbs-down' }}"></span>
                </div>
                <h3>
                    {{ monthly_balance_over_last_quarter >= 0 ? "+" : "-" }} <strong>{{ monthly_balance_over_last_quarter|abs|number_format(2, ".", "") ~ "€" }}</strong>
                    <small>balance mensuelle sur 3 mois</small>
                </h3>
            </div>
        </div>
        <div class="widget col-md-4">
            <div class="widget-content">
                <div class="widget-icon pull-left">
                    <span class="glyphicon {{ monthly_balance_over_last_year > 0 ? 'glyphicon-thumbs-up' : 'glyphicon-thumbs-down' }}"></span>
                </div>
                <h3>
                    {{ monthly_balance_over_last_year >= 0 ? "+" : "-" }} <strong>{{ monthly_balance_over_last_year|abs|number_format(2, ".", "") ~ "€" }}</strong>
                    <small>balance mensuelle sur 1 an</small>
                </h3>
            </div>
        </div>
        <div class="widget col-md-4">
            <div class="widget-content">
                <div class="widget-icon pull-left">
                    <span class="glyphicon glyphicon-road"></span>
                </div>
                <h3>
                    {{ distance_for_once_month|number_format(2, ".", "") }} <strong>kilomètres</strong>
                    <small>parcourus depuis un mois</small>
                </h3>
            </div>
        </div>
    </div>
{% endblock %}
