{% extends 'layout.html.twig' %}

{% block modules 'highcharts' %}

{% block title %} - Catégories{% endblock %}

{% import _self as macros %}

{% macro categoriesFilles(categories, categorie, balance_par_categorie, depth, date_filter, compte_filter) %}
    <tr>
        <td style="padding-left: {{ (5 + depth * 20) ~ "px" }};">
            <a href="{{ path('categories_categorie', {'categorieId': categorie.id, 'date_filter[start]': date_filter.start|date('d-m-Y'), 'date_filter[end]': date_filter.end|date('d-m-Y'), 'compteId': compte_filter is not null ? compte_filter.id : ''}) }}">{{ categorie }}</a>
        </td>
        <td>
            {{ balance_par_categorie[categorie.id.__toString].periodique|formater_balance }}
        </td>
        <td>
            {{ balance_par_categorie[categorie.id.__toString].mensuelle_moyenne|formater_balance }}
        </td>
        <td data-sparkline="{% for annee, balance in balance_par_categorie[categorie.id.__toString].annuelle %}{{ categorie.id ~ '|' ~ annee|e('html') ~ '|' ~ balance|e('html') ~ (not loop.last ? ',') }}{% endfor %}"></td>
    </tr>
    {% if categorie.categoriesFilles is not empty %}
        {% set depth = depth + 1 %}
        {% for id in categorie.categoriesFilles %}
            {{ _self.categoriesFilles(categories, categories[id.__toString], balance_par_categorie, depth, date_filter, compte_filter) }}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% block content %}
    <h1>Catégories</h1>
    <div class="row">
        <div class="col-md-8">
            <form action="{{ path('categories_categories') }}" method="GET">
                <div class="input-group">
                    <label for="date-filter-start" class="input-group-addon">Période du</label>
                    <input id="date-filter-start" class="form-control" type="text" name="date_filter[start]" value="{{ date_filter.start|date('d-m-Y') }}" placeholder="{{ date_filter.start|date('d-m-Y') }}">
                    <label for="date-filter-end" class="input-group-addon middle">au</label>
                    <input id="date-filter-end" class="form-control" type="text" name="date_filter[end]" value="{{ date_filter.end|date('d-m-Y') }}" placeholder="{{ date_filter.end|date('d-m-Y') }}">
                    <label for="compte-id" class="input-group-addon middle">sur le compte</label>
                    <select id="compte-id" class="form-control" name="compte_id">
                        <option value=""></option>
                        {% for compte in comptes %}
                            <option value="{{ compte.id }}" {{ compte_filter is not null and compte_filter.id == compte.id ? "selected" }}>
                                {{ compte.dateFermeture is null ? compte : "%s (fermé)"|format(compte) }}
                            </option>
                        {% endfor %}
                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search"></span> Appliquer
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div id="chart" class="chart col-md-12"></div>
        <script>
            $(function(){
                $('#chart').highcharts({
                    title: {
                        text: "Répartition des dépenses par catégorie"
                    },
                    tooltip: {
                        formatter: function() {
                            const categorie = this.point.name,
                                balance = new Intl.NumberFormat('fr-FR', { style: "currency", currency: "EUR", signDisplay: "always" }).format(-this.y);

                            return `${categorie} : ${balance}`;
                        }
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: false,
                            cursor: 'pointer',
                            dataLabels: {
                                format: "<strong>{point.name}</strong> : {point.percentage:.1f} %"
                            },
                            point: {
                                events: {
                                    click: function () {
                                        window.location.href = this.url;
                                    }
                                }
                            }
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: "Répartition des dépenses",
                        data: [
                            {
                                name: "Non catégorisé",
                                y: {{ balance_periodique_mouvements_non_categorises|abs|e('js') }},
                                url: '{{ path('categories_categorie', {'categorieId': 'aucune', 'date_filter[start]': date_filter.start|date('d-m-Y'), 'date_filter[end]': date_filter.end|date('d-m-Y'), 'compteId': compte_filter is not null ? compte_filter.id : ''})|e('js') }}'
                            },
                            {% for categorie in categories %}
                                {%  if categorie.categorieParente is null and balance_par_categorie[categorie.id.__toString].periodique < 0 %}
                                    {
                                        name: "{{ categorie|e('js') }}",
                                        y: {{ balance_par_categorie[categorie.id.__toString].periodique|abs|e('js') }},
                                        url: '{{ path('categories_categorie', {'categorieId': categorie.id, 'date_filter[start]': date_filter.start|date('d-m-Y'), 'date_filter[end]': date_filter.end|date('d-m-Y'), 'compteId': compte_filter is not null ? compte_filter.id : ''})|e('js') }}'
                                    },
                                {% endif %}
                            {% endfor %}
                        ]
                    }]
                });
            });
        </script>
    </div>
    <table class="table table-condensed table-striped table-hover">
        <caption>Liste des catégories</caption>
        <thead>
            <tr>
                <th class="col-md-3">Catégorie</th>
                <th class="col-md-3">
                    Balance
                    <small>sur la période</small>
                </th>
                <th class="col-md-3">
                    Moyenne mensuelle
                    <small>sur la période</small>
                </th>
                <th class="col-md-3">Évolution annuelle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a href="{{ path('categories_categorie', {'categorieId': 'aucune', 'date_filter[start]': date_filter.start|date('d-m-Y'), 'date_filter[end]': date_filter.end|date('d-m-Y'), 'compteId': compte_filter is not null ? compte_filter.id : ''}) }}">Non catégorisé</a>
                </td>
                <td>
                    {{ balance_periodique_mouvements_non_categorises|formater_balance }}
                </td>
                <td colspan="2"></td>
            </tr>
            <tr>
                <td>
                    Toutes catégories confondues
                    <small>(dont non catégorisé)</small>
                </td>
                <td>
                    {{ balance_periodique|formater_balance }}
                </td>
                <td></td>
                <td data-sparkline="{% for annee, balance in balance_annuelle %}{{ '' ~ '|' ~ annee|e('html') ~ '|' ~ balance|e('html') ~ (not loop.last ? ',') }}{% endfor %}"></td>
            </tr>
            {% for categorie in categories %}
                {% if categorie.categorieParente is null %}
                    {{ macros.categoriesFilles(categories, categorie, balance_par_categorie, 0, date_filter, compte_filter) }}
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <script>
        $(function() {
            $('td[data-sparkline]').each(function()
            {
                const td = this,
                    stringData = $(td).data('sparkline'), // exemple : "af3a5291-ed90-41ad-9c33-c0bff7484051|2012|1890.36,c4663b2a-b9cd-45a3-a48d-d3e84906abde|2013|2559.62"
                    arrayData = stringData.split(','), // exemple : ["af3a5291-ed90-41ad-9c33-c0bff7484051|2012|1890.36", "c4663b2a-b9cd-45a3-a48d-d3e84906abde|2013|2559.62"]
                    categorieId = arrayData.length > 0 ? arrayData[0].split('|')[0] : ""; // la catégorie est la même pour tous les points de la série, exemple : "af3a5291-ed90-41ad-9c33-c0bff7484051"

                let seriesData = [];

                for (let i=0; i < arrayData.length; i++)
                {
                    const data = arrayData[i].split('|'), // exemple : ["af3a5291-ed90-41ad-9c33-c0bff7484051", "2012", "1890.36"]
                        annee = parseInt(data[1]), // exemple : 2012
                        balance = parseFloat(data[2]); // exemple : 1890.36

                    seriesData.push({
                        categorieId: categorieId,
                        x: annee,
                        y: balance,
                    });
                }

                Highcharts.Sparkline({
                    chart: {
                        renderTo: td
                    },
                    series: [{
                        data: seriesData
                    }],
                    tooltip: {
                        headerFormat: "",
                        formatter: function () {
                            const annee = this.x,
                                balance = new Intl.NumberFormat('fr-FR', { style: "currency", currency: "EUR", signDisplay: "always" }).format(this.y);

                            return `<strong>${annee}</strong> : ${balance}`;
                        }
                    },
                    plotOptions: {
                        series: {
                            cursor: categorieId !== "" ? "pointer" : "default",
                            point: {
                                events: {
                                    click: function () {
                                        if (this.categorieId === "") {
                                            return;
                                        }

                                        const annee = String(this.x).padStart(4, "0");

                                        let url = "{{ path('categories_categorie', {'categorieId': 'categorie_id', 'date_filter[start]': 'date_filter_start', 'date_filter[end]': 'date_filter_end', 'compte_id': compte_filter is not null ? compte_filter.id : ''})|e('js') }}";
                                        url = url.replace("categorie_id", this.categorieId);
                                        url = url.replace("date_filter_start", "01-01-" + annee);
                                        url = url.replace("date_filter_end", "31-12-" + annee);

                                        window.location.href = url;
                                    }
                                }
                            }
                        }
                    },
                });
            });
        });
    </script>
    <a href="{{ path('categories_edit') }}" class="btn btn-default">
        <span class="glyphicon glyphicon-pencil"></span>
        Éditer les catégories
    </a>
{% endblock %}
