{% extends 'layout.html.twig' %}

{% block modules 'forms;highcharts' %}

{% block title %} - {{ categorie is not null ? categorie : "Mouvements non catégorisés" }}{% endblock %}

{% import _self as macros %}

{% macro categoriesFilles(categorie, mouvement, depth) %}

    {% set optgroup = not categorie.categorieParente %}
    {% if optgroup %}<optgroup label="{{ categorie }}">{% endif %}

        <option value="{{ categorie.id }}" style="padding-left: {{ (depth * 20) ~ "px" }};" {{ mouvement is not null and mouvement.categorie is not null and mouvement.categorie.id == categorie.id ? "selected" }}>{{ categorie }}</option>
        {% if categorie.categoriesFilles is not empty %}
            {% set depth = depth + 1 %}
            {% for categorieFille in categorie.categoriesFilles %}
                {{ _self.categoriesFilles(categorieFille, mouvement, depth) }}
            {% endfor %}
        {% endif %}

    {% if optgroup %}</optgroup>{% endif %}

{% endmacro %}

{% block content %}
    <h1>{{ categorie is not null ? categorie : "Mouvements non catégorisés" }}</h1>
    <div class="row">
        <div class="col-md-8">
            <form action="{{ path('categories_categorie', {'categorieId': categorie is not null ? categorie.id : 0}) }}" method="GET">
                <div class="input-group">
                    <label for="date-filter-start" class="input-group-addon">Du</label>
                    <input id="date-filter-start"class="form-control" type="text" name="date_filter[start]" value="{{ date_filter.start|date('d-m-Y') }}" placeholder="{{ date_filter.start|date('d-m-Y') }}">
                    <label for="date-filter-end" class="input-group-addon middle">au</label>
                    <input id="date-filter-end"class="form-control" type="text" name="date_filter[end]" value="{{ date_filter.end|date('d-m-Y') }}" placeholder="{{ date_filter.end|date('d-m-Y') }}">
                    <label for="compte-id" class="input-group-addon middle">sur le compte</label>
                    <select id="compte-id" class="form-control" name="compte_id">
                        <option value=""></option>
                        {% for compte in comptes %}
                            <option value="{{ compte.id }}" {{ compte_filter is not null and compte_filter.id == compte.id ? "selected" }}>
                                {{ compte.dateFermeture is null ? compte : "%s (clôturé)"|format(compte) }}
                            </option>
                        {% endfor %}
                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search"></span> Appliquer
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    {% if categorie is not null and categorie.categoriesFilles is not empty %}
        <div class="row">
            <div id="chart-1" class="chart col-md-12"></div>
            <script>
                $(function(){
                    $('#chart-1').highcharts({
                        title: {
                            text: "Répartition des dépenses par sous catégorie"
                        },
                        tooltip: {
                            pointFormat: "{point.y:.0f}€"
                        },
                        plotOptions: {
                            pie: {
                                allowPointSelect: false,
                                cursor: 'pointer',
                                dataLabels: {
                                    format: "<strong>{point.name}</strong>: {point.percentage:.1f}%"
                                }
                            }
                        },
                        series: [{
                            type: 'pie',
                            name: "Répartition des dépenses par sous catégorie",
                            data: [
                                {% for categorieFille in categorie.categoriesFilles %}
                                    {% if montants[categorieFille.id] < 0 %}
                                        {
                                            name: "{{ categorieFille|e('js') }}",
                                            y: {{ montants[categorieFille.id]|abs|e('js') }},
                                            url: '{{ path('categories_categorie', {'categorieId': categorieFille.id, 'date_filter[start]': date_filter.start|date('d-m-Y'), 'date_filter[end]': date_filter.end|date('d-m-Y'), 'compteId': compte_filter is not null ? compte_filter.id : ''})|e('js') }}'
                                        },
                                    {% endif %}
                                {% endfor %}
                            ],
                            events: {
                                click: function(e) {
                                    e.preventDefault();
                                    window.location.href = e.point.url;
                                }
                            }
                        }]
                    });
                });
            </script>
        </div>
    {% endif %}
    <div class="row">
        <div id="chart-2" class="chart col-md-12"></div>
        <script>
            $(function(){
                $('#chart-2').highcharts({
                    chart: {
                        type: 'spline'
                    },
                    title: {
                        text: "Évolution mensuelle",
                        x: -20 // centrage
                    },
                    subtitle: {
                        text: "Moyenne mensuelle sur la période : {{ average|number_format(2, ".", "") ~ "€" }}",
                        x: -20 // centrage
                    },
                    xAxis: {
                        type: 'datetime',
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: "Total mensuel (€)"
                        }
                    },
                    tooltip: {
                        valueSuffix: "€"
                    },
                    series: [
                        {
                            name: "{{ categorie is not null ? categorie|e('js') : "Mouvements non catégorisés" }}",
                            data: [
                                {% for year, months in monthly_montants %}
                                    {% for month, montant in months %}
                                        [
                                            Date.UTC({{ year|e('js') }}, {{ (month-1)|e('js') }}),
                                            {{ montant|abs|e('js') }}
                                        ]{{ not loop.last ? ','|e('js') }}
                                    {% endfor %}
                                    {{ not loop.last ? ','|e('js') }}
                                {% endfor %}
                            ]
                        }
                    ]
                });
            });
        </script>
    </div>
    <form action="{{ path('mouvements_edit') }}" method="POST">
        <table class="table table-condensed table-striped table-hover">
            <caption>Liste des mouvements</caption>
            <thead>
                <tr>
                    <th class="col-md-1">
                        Action par lot
                        <small>
                            <span class="glyphicon glyphicon-check trigger" data-trigger="check-all" data-target-name="batch[]" title="Cocher tout"></span>
                            <span class="glyphicon glyphicon-unchecked trigger" data-trigger="uncheck-all" data-target-name="batch[]" title="Décocher tout"></span>
                        </small>
                    </th>
                    <th class="col-md-1">Date</th>
                    <th class="col-md-1">Montant</th>
                    <th class="col-md-4">Description</th>
                    <th class="col-md-2">Compte</th>
                    <th class="col-md-3">Catégorie</th>
                </tr>
            </thead>
            <tbody>
                {% for mouvement in mouvements %}
                    <tr>
                        <td>
                            <label for="batch-{{ mouvement.id }}" class="sr-only">Éditer</label>
                            <input id="batch-{{ mouvement.id }}" type="checkbox" name="batch[]" value="{{ mouvement.id }}">
                        </td>
                        <td>{{ mouvement.date|date('d-m-Y') }}</td>
                        <td>{{ mouvement.montant ~ "€" }}</td>
                        <td>{{ mouvement.description }}</td>
                        <td>
                            <a href="{{ path('comptes_compte', {'compteId': mouvement.compte.id, 'date_filter[start]': mouvement.date|date('d-m-Y'), 'date_filter[end]': mouvement.date|date('d-m-Y')}) }}">
                                {{ mouvement.compte }}
                            </a>
                        </td>
                        <td class="input-select2">
                            <label for="categorie-{{ mouvement.id }}" class="sr-only">Catégorie</label>
                            <select id="categorie-{{ mouvement.id }}" name="mouvements[{{ mouvement.id }}][categorie]">
                                <option value="">&nbsp;</option>
                                {% for categorie in categories %}
                                    {% if not categorie.categorieParente %}
                                        {{ macros.categoriesFilles(categorie, mouvement, 0) }}
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Total</th>
                    <td colspan="5">{{ total|number_format(2, ".", "") ~ "€" }}</td>
                </tr>
            </tfoot>
        </table>
        <input type="hidden" name="redirect_url" value="{{ path(app.request.get('_route'), {'categorieId': categorie is null ? 0 : categorie.id, 'date_filter[start]': date_filter.start|date('d-m-Y'), 'date_filter[end]': date_filter.end|date('d-m-Y')}) }}">
        <div class="btn-group">
            <button class="btn btn-default" type="submit" name="action" value="save">
                <span class="glyphicon glyphicon-floppy-disk"></span> Enregistrer
            </button>
            <div class="clearfix"></div>
            <p class="help-block">
                <span class="glyphicon glyphicon-info-sign"></span> N'oublie pas de cocher les mouvements que tu veux modifier.
            </p>
        </div>
    </form>
{% endblock %}
